node_modules/
.DS_Store
.prettierrc

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.byebug_history

# Ignore application configuration
/config/application.yml