/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}

*, *:before, *:after {
	box-sizing: border-box;
}

nav {
	background: lightcoral;
	padding: 8px;
	display: flex;
	justify-content: space-evenly;
	
	a {
		color: white;
		text-decoration: none;
		font-size: 18px;
	}
}

main {
	padding: 15px;
	max-width: 800px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Press Start 2P', cursive;
}

input, textarea {
	width: 100%;
	margin-bottom: 15px;
}

button, input[type=submit], .button {
	background: lightcoral;
	border: none;
	color: white;
	padding: 10px;
	font-family: 'Press Start 2P', cursive;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	display: block;
	font-size: 15px;
	margin: 10px 0;
}

img {
	width: 100%;
}