// Place all the styles related to the pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Id selector (#pets {})
// Class selector (.pet {})
// Tag selector (h1 {})


#pets {
	display: grid;
	grid-template-columns: 1fr 1fr;
	// grid-template-columns: repeat(2, 1fr);
	// grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	grid-gap: 20px;

	.pet {
		display: grid;
		grid-template-columns: 3fr 2fr;
		border: 1px solid #d1d1d1;
		border-radius: 10px;

		.info {
			padding: 15px;
			border-left: 1px solid #d1d1d1;

			h2, p {
				margin: 0;
			}

			.description {
				color: grey;
			}

			.attribute-wrapper {
				padding: 10px 0;
			}
		}
	}

	img {
		width: 100%;
		height: 300px;
		object-fit: cover;
		border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
	}
}

@media only screen and (max-width: 800px) {
	#pets {
		grid-template-columns: 1fr;
  }
}
