.App {
  text-align: center;
}

table {
  background-color: #d9faf6;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-collapse: collapse;
}

th {
  font-weight: bold;
  font-size: large;
}

table,
th,
td {
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #abfff7;
}

.title {
  background-color: #d9faf6;
  border-style: double;
}
